@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav {
  color: black;
  display: flex;

padding: 10px 10px;
  position: sticky;
  top: 0;
left: 0;
right: 0;
  background-color: black;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
}
li{

  padding: 0 5px;
}
.nav .container{

  width: 100%;
  margin: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 0 10px;

}
a{
  font-weight: bold;
  text-decoration-line: none;
  color: red;
}

h2{
  color: white;
  padding-top: 15px;
}
.nav li{
  font-weight: bold;
  color: white;
}
.nav.active{
  background-color: white;
  color: black;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
.nav.active h2{
  color: black;
}
.nav.active li{

  color: black;
  padding: 0 5px;
}
.nav li:hover{
  color: red;
}

li{
  padding: 0 6px;
}
.nav ul{

  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;

}
  body{
font-family: 'Roboto','sans-serif';


color: black;



  }
  .container{



margin: 0 auto;
    max-width: 1200px;

  }

  .hero{
    position: relative;
    height: 100vh;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/7409200/pexels-photo-7409200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    align-items: center;
display: flex;
z-index: -2;
margin-bottom: 20px;

  }

.hero::before{
  content: close-quote;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
}
.hero h1,.hero p{
color: white;

}
.content h2,.content h3,.content p{
  text-align: left;
  margin:10px 0;
  color: black;
}
.content p{
  line-height: 30px;
  color: #555;
  letter-spacing: 1.5;
}
